.cleanweb-captcha table, .cleanweb-captcha table tbody, .cleanweb-captcha table tr {
  border-collapse: collapse;
  border: medium none;
}
	.cleanweb-captcha table td {
		padding-bottom: 10px;
		border: medium none;
		vertical-align: middle;
	}